
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>WeddingBox</title>

<%= stylesheet_link_tag "css/bootstrap.min" %>
<%= stylesheet_link_tag "css/landing-page" %>
<%= javascript_include_tag 'css/bootstrap.min' %>

<link href="http://fonts.googleapis.com/css?family=Montserrat:700, 400" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="shortcut icon" href="assets/favicon.ico" type="assets/x-icon">
<link rel="icon" href="assets/favicon.ico" type="assets/x-icon">

</head>




  <div class="intro-header" style="background-image:url(<%= asset_path "intro-bg-01.jpg" %>)" />
  
  <div class="container">
    <div class="row" style="text-align:center;">
      <!--
              <div class="search-01">
                  <div class="intro-message">
                      <h1>All-in-one Wedding Planner</h1>
                      <br>
                  <div class="row" style="text-align:center;">
                      <div class="intro-message-0">
                          <div class="col-xs-0 col-sm-1 col-md-2">
                          </div>
                          <div class="col-xs-12 col-sm-10 col-md-8">
                  <div class="panel panel-default panel-search">
                    <div class="panel-body">
                      <form>
                        <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Year</option>
                                  <option value="16">2016</option>
                                  <option value="17">2017</option>
                                  <option value="18">2018</option>
                                  <option value="19">2019</option>
                                  <option value="20">2020</option>
                                  <option value="">▽ Year</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Month</option>
                                  <option value="01">Jan</option>
                                  <option value="02">Feb</option>
                                  <option value="03">Mar</option>
                                  <option value="04">Apr</option>
                                  <option value="05">May</option>
                                  <option value="06">Jun</option>
                                  <option value="07">Jul</option>
                                  <option value="08">Aug</option>
                                  <option value="09">Sep</option>
                                  <option value="10">Oct</option>
                                  <option value="11">Nov</option>
                                  <option value="12">Dec</option>
                                  <option value="">▽ Month</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Date</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                  <option value="05">05</option>
                                  <option value="06">06</option>
                                  <option value="07">07</option>
                                  <option value="08">08</option>
                                  <option value="09">09</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                  <option value="24">24</option>
                                  <option value="25">25</option>
                                  <option value="26">26</option>
                                  <option value="27">27</option>
                                  <option value="28">28</option>
                                  <option value="29">29</option>
                                  <option value="30">30</option>
                                  <option value="31">31</option>
                                  <option value="">▽ Date</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-6" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Location</option>
                                  <option value="00">▽ 都道府県</option>
                                  <optgroup label="関東">
                                       <option value="13">東京</option>
                                       <option value="14">神奈川</option>
                                       <option value="11">埼玉</option>
                                       <option value="12">千葉</option>
                                       <option value="8">茨城</option>
                                       <option value="10">群馬</option>
                                       <option value="9">栃木</option>
                                       </optgroup>
                                      <optgroup label="関西">
                                       <option value="27">大阪</option>
                                       <option value="28">兵庫</option>
                                       <option value="26">京都</option>
                                       <option value="25">滋賀</option>
                                       <option value="29">奈良</option>
                                       <option value="30">和歌山</option>
                                       </optgroup>
                                      <optgroup label="東海">
                                       <option value="23">愛知</option>
                                       <option value="22">静岡</option>
                                       <option value="21">岐阜</option>
                                       <option value="24">三重</option>
                                       </optgroup>
                                      <optgroup label="北海道">
                                       <option value="1">北海道</option>
                                       </optgroup>
                                      <optgroup label="東北">
                                       <option value="2">青森</option>
                                       <option value="3">岩手</option>
                                       <option value="4">宮城</option>
                                       <option value="5">秋田</option>
                                       <option value="6">山形</option>
                                       <option value="7">福島</option>
                                       </optgroup>
                                      <optgroup label="北陸・甲信越">
                                       <option value="19">山梨</option>
                                       <option value="20">長野</option>
                                       <option value="15">新潟</option>
                                       <option value="16">富山</option>
                                       <option value="17">石川</option>
                                       <option value="18">福井</option>
                                       </optgroup>
                                      <optgroup label="中・四国">
                                       <option value="33">岡山</option>
                                       <option value="34">広島</option>
                                       <option value="32">島根</option>
                                       <option value="31">鳥取</option>
                                       <option value="35">山口</option>
                                       <option value="36">徳島</option>
                                       <option value="38">愛媛</option>
                                       <option value="37">香川</option>
                                       <option value="39">高知</option>
                                       </optgroup>
                                      <optgroup label="九州・沖縄">
                                       <option value="40">福岡</option>
                                       <option value="44">大分</option>
                                       <option value="41">佐賀</option>
                                       <option value="45">宮崎</option>
                                       <option value="42">長崎</option>
                                       <option value="46">鹿児島</option>
                                       <option value="43">熊本</option>
                                       <option value="47">沖縄</option>
                                       </optgroup>
                                       <option value="">▽ Location</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Style</option>
                                  <option value="00">▽ スタイル</option>
                                  <option value="01">Japanese</option>
                                  <option value="02">Korean</option>
                                  <option value="03">Chinese</option>
                                  <option value="04">Indian</option>
                                  <option value="05">American</option>
                                  <option value="">▽ Style</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Budget (JPY)</option>
                                  <option value="00">▽ 値段</option>
                              <option value="10">10万〜50万円</option>
                              <option value="20">50万〜100万円</option>
                              <option value="30">100万〜150万円</option>
                              <option value="40">150万〜200万円</option>
                              <option value="50">200万〜250万円</option>
                              <option value="">▽ Budget (JPY)</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                          <div>
                            <select class="sub-email">
                                  <option class="sub-email" value="" disabled selected>▽ Attendees number</option>
                                  <option value="00">▽ 招待人数</option>
                                  <option value="01">10</option>
                                  <option value="02">20</option>
                                  <option value="03">30</option>
                                  <option value="04">40</option>
                                  <option value="05">50</option>
                                  <option value="06">60</option>
                                  <option value="07">70</option>
                                  <option value="08">80</option>
                                  <option value="09">90</option>
                                  <option value="10">100</option>
                                  <option value="11">110</option>
                                  <option value="12">120</option>
                                  <option value="13">130</option>
                                  <option value="14">140</option>
                                  <option value="15">150</option>
                                  <option value="16">160</option>
                                  <option value="17">170</option>
                                  <option value="18">180</option>
                                  <option value="19">190</option>
                                  <option value="20">200</option>
                                  <option value="">▽ 招待人数</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-12" style="padding:5px 0px;">
                          <div>
                            <div type="submit" class="btn btn-sub" style="width:100%; padding:10.5px 0px;">
                                      <h5>Search</h5>
                                    </div>
                                  </div>
                                </div>
                              </form>
                    </div>
                  </div>
                </div>
                <div class="col-xs-0 col-sm-1 col-md-2">
                          </div>
                      </div>
                  </div>
              </div>
                </div>
              -->
      <div class="search-02">
        <div class="intro-message intro-message-02">
          <h1>All-in-one Wedding Planner</h1>
          <h4 style="padding:5px 10px 0px 10px;">Much affordable ・ More references ・ Customizable items</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color:#277A7F;">
  <div class="container">
    <div class="row" style="text-align:center;">
      <div class="col-xs-0 col-sm-1 col-md-2">
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8">
        <div class="panel panel-default panel-search" style="margin-bottom:0px;">
          <div class="panel-body">
            <form>
              <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Year</option>
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="">▽ Year</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    <option value="">▽ Month</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2 col-xs-4" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Date</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="">▽ Date</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Location</option>
                    <option value="00">▽ 都道府県</option>
                    <optgroup label="関東">
                      <option value="13">東京</option>
                      <option value="14">神奈川</option>
                      <option value="11">埼玉</option>
                      <option value="12">千葉</option>
                      <option value="8">茨城</option>
                      <option value="10">群馬</option>
                      <option value="9">栃木</option>
                    </optgroup>
                    <optgroup label="関西">
                      <option value="27">大阪</option>
                      <option value="28">兵庫</option>
                      <option value="26">京都</option>
                      <option value="25">滋賀</option>
                      <option value="29">奈良</option>
                      <option value="30">和歌山</option>
                    </optgroup>
                    <optgroup label="東海">
                      <option value="23">愛知</option>
                      <option value="22">静岡</option>
                      <option value="21">岐阜</option>
                      <option value="24">三重</option>
                    </optgroup>
                    <optgroup label="北海道">
                      <option value="1">北海道</option>
                    </optgroup>
                    <optgroup label="東北">
                      <option value="2">青森</option>
                      <option value="3">岩手</option>
                      <option value="4">宮城</option>
                      <option value="5">秋田</option>
                      <option value="6">山形</option>
                      <option value="7">福島</option>
                    </optgroup>
                    <optgroup label="北陸・甲信越">
                      <option value="19">山梨</option>
                      <option value="20">長野</option>
                      <option value="15">新潟</option>
                      <option value="16">富山</option>
                      <option value="17">石川</option>
                      <option value="18">福井</option>
                    </optgroup>
                    <optgroup label="中・四国">
                      <option value="33">岡山</option>
                      <option value="34">広島</option>
                      <option value="32">島根</option>
                      <option value="31">鳥取</option>
                      <option value="35">山口</option>
                      <option value="36">徳島</option>
                      <option value="38">愛媛</option>
                      <option value="37">香川</option>
                      <option value="39">高知</option>
                    </optgroup>
                    <optgroup label="九州・沖縄">
                      <option value="40">福岡</option>
                      <option value="44">大分</option>
                      <option value="41">佐賀</option>
                      <option value="45">宮崎</option>
                      <option value="42">長崎</option>
                      <option value="46">鹿児島</option>
                      <option value="43">熊本</option>
                      <option value="47">沖縄</option>
                    </optgroup>
                    <option value="">▽ Location</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Style</option>
                    <option value="00">▽ スタイル</option>
                    <option value="01">Japanese</option>
                    <option value="02">Korean</option>
                    <option value="03">Chinese</option>
                    <option value="04">Indian</option>
                    <option value="05">American</option>
                    <option value="">▽ Style</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Budget (JPY)</option>
                    <option value="00">▽ 値段</option>
                    <option value="10">10万〜50万円</option>
                    <option value="20">50万〜100万円</option>
                    <option value="30">100万〜150万円</option>
                    <option value="40">150万〜200万円</option>
                    <option value="50">200万〜250万円</option>
                    <option value="">▽ Budget (JPY)</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6" style="padding:5px 0px;">
                <div>
                  <select class="sub-email">
                    <option class="sub-email" value="" disabled selected>▽ Attendees</option>
                    <option value="00">▽ 招待人数</option>
                    <option value="01">10</option>
                    <option value="02">20</option>
                    <option value="03">30</option>
                    <option value="04">40</option>
                    <option value="05">50</option>
                    <option value="06">60</option>
                    <option value="07">70</option>
                    <option value="08">80</option>
                    <option value="09">90</option>
                    <option value="10">100</option>
                    <option value="11">110</option>
                    <option value="12">120</option>
                    <option value="13">130</option>
                    <option value="14">140</option>
                    <option value="15">150</option>
                    <option value="16">160</option>
                    <option value="17">170</option>
                    <option value="18">180</option>
                    <option value="19">190</option>
                    <option value="20">200</option>
                    <option value="">▽ 招待人数</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12" style="padding:5px 0px;">
                <a href="list.html" target="list">
                  <div type="submit" class="btn btn-sub" style="width:100%; padding:10.5px 0px;">
                    <h5> <%= link_to 'Search' , 'list' %></h5>
                  </div>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1 col-md-2">
      </div>
    </div>
  </div>
</div>

<div style="background-color: white; text-align:center; padding-bottom:20px;">
  <div class="container" style="padding:40px;">
    <div class="row">
      <h3 style="line-height: 125%; padding-bottom:20px;">Dream wedding is never a fantasy!</h3>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-01.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-02.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-03.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-04.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-05.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-centered" style="padding:2.5px 12.5px;">
        <div class="panel panel-default panel-hover" style="border:none; border-radius:20px; background:none;">
          <img src="assets/style-06.png" width="100%" style="border:none; border-radius:20px;">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height:3px;">
</div>

<div style="background-color: white; text-align:center; padding-bottom:20px;">
  <div class="container" style="padding:40px;">
    <div class="row">
      <h3 style="line-height: 125%; padding-bottom:20px;">Samples of wedding packages
        <br>...</h3>
    </div>
  </div>
</div>





