<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <%= render 'select_location' %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= render 'style' %>
  </div>
  <div class="field">
    <%= f.label :attendee %><br>
    <%= render 'attendee' %>
  </div>
  <div class="field">
    <%= f.label :Budget %><br>
    <%= render 'budget' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
