<p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @search.startdate %>
</p>

<p>
  <strong>Location:</strong>
  <%= @search.location %>
</p>

<p>
  <strong>Style:</strong>
  <%= @search.style %>
</p>

<p>
  <strong>Location:</strong>
  <%= @search.location %>
</p>

<p>
  <strong>Attendee:</strong>
  <%= @search.attendee %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @search.budget %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
